<!DOCTYPE html>
<html>
<head>
    <title>Stack and Queue Visualization</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div id="titel">
    <h2>Stack</h2>
    <div class="controls">
        <div>
            <input type="text" id="push-text" onfocus="this.value='';">
            <button id="stackPush">Push (Stack)</button>
            <button id="stackPop">Pop (Stack)</button>
        </div>
        <!--    <button id="queueEnqueue">Enqueue (Queue)</button>-->
        <!--    <button id="queueDequeue">Dequeue (Queue)</button>-->
    </div>
</div>
<div class="container">
    <div id="stack"></div>

    <!--    <h2>Queue</h2>-->
    <!--    <div id="queue"></div>-->
</div>

<script src="script.js"></script>
</body>
</html>
