<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Queue Visualization</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div id="queue-container">
    <h2>Queue</h2>
    <div class="controls">
        <div>
            <input type="text" id="push-text" onfocus="this.value='';">
            <button id="enqueue">Engueue (Queue)</button>
            <button id="dequeue">Dequeue (Queue)</button>
        </div>
    </div>
    <div class="container">
        <div id="queue"></div>
    </div>
</div>

<script src="../../scripts/queue.js"></script>
</body>
</html>