<!DOCTYPE html>
<html>
<head>
    <title>Stack Visualization</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div id="stack-container">
    <h2>Stack</h2>
    <div class="controls">
        <div>
            <input type="text" id="push-text" onfocus="this.value='';">
            <button id="stackPush">Push (Stack)</button>
            <button id="stackPop">Pop (Stack)</button>
        </div>
    </div>
    <div class="container">
        <div id="stack"></div>
    </div>
</div>

<script src="../../scripts/stack.js"></script>
</body>
</html>
