<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Union Find Visualization</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>

<body>
<h1>Union Find Visualization</h1>

<h2>Initial Set</h2>
<div id="visualization"></div>

<div>
    <button id="find">Find</button>
    <input type="text" id="element-value" placeholder="Value">
</div>

<div>
    <button id="union">Union</button>
    <!--    <button id="move">tmp-move</button>-->
    <input type="text" id="elementUnion1" placeholder="Val1">
    <input type="text" id="elementUnion2" placeholder="Val2">
</div>

<h2>Result</h2>
<div id="result"></div>

<div id="message-container"></div>

<script src="../../scripts/unionFind.js"></script>
</body>
</html>